.PPanier {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-family: 'Inter', 'Roboto', sans-serif;
}
.PPanier img {
  width: 50%;
  height: 100%;
}
.ppanier-info {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
}
.ppanier-info h2{
  font-size: .85rem;
  color: black;
}
.ppanier-qte{
  width: fit-content;
  display: flex;
  overflow: hidden;
}
.ppanier-qte input{
  width: 40px;
  text-align:center;
  border: none;
}
.ppanier-remove{
  border: none;
  background: none;
  outline: 2px solid red;
  width: 90%;
  padding: .2rem;
}
.ppanier-remove:hover{
  background-color: red;
}
@media screen and (min-width: 769px) and (max-width:1224px) {
  .ppanier-info h2{
    font-size: .6rem;
  }
}
@media screen and (max-width:768px){
  .ppanier-remove{
    width: fit-content;
    padding: .2rem;
    border-radius: 20px;
  }
 
  .ppanier-info h2{
    font-size: 18px;
  }
  .PPanier p{
    font-size: 20px;
  }
}
@media screen and (max-width:500px) {
  .PPanier{
    flex-direction: column;
    height: 400px;
    min-width: fit-content;
  }
  .PPanier img{
    height: 55%;
    width: 100%;
  }
  .ppanier-info h2{
    font-size: 10px;
  }
   .PPanier p{
    font-size: 10px;
  }
  .ppanier-remove{
    font-size: 10px;
  }
}


