.pcarte {
  width:250px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height:350px;
  padding: 1rem;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
  min-width: 250px;
  row-gap: .5rem;
}
.pImage{
  width: 100%;
  height: 80% !important;
  overflow: hidden;
}
.carteCorps{
  flex-grow: 1;
 justify-content: space-around;
 display: flex;
 height: 20%;
 flex-direction: column;
 align-items: center !important;
 width: 100%;
}

.pcarte img {
  height:auto;
  width:100%;
}
.nomEtprix {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.nomEtprix h1 {
  font-size: 10px !important;
  text-align: center;
  color: black;
}
#nom {
  text-overflow: ellipsis;
  font-size: .75rem;
}
#prix {
  font-size: 0.75rem;
 
  text-wrap: nowrap;
}


.carteCorps button {
  background-color: green;
  height: fit-content;
  min-width:100% !important;
  padding: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 20px;
  color: black;
}
.pcarte button:hover{
  opacity: .5rem;
  background-color: black;
  color: green;
}


