@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
   font-family: 'Inter', 'Roboto', sans-serif
}
.layOut {
  display: grid;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header" "main main" "footer footer";
  box-sizing: border-box;
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: #003366;
  justify-items: center;
  align-content: start;
  position: relative;
}

header {
  grid-area: header;

}


main {
  grid-area: main;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  background-repeat: repeat;
  -webkit-overflow-scrolling: touch; /* pour iOS */
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/********************* footer******************/
footer {
  grid-area: footer;
  color: #333333;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer {
    background-color: #F0FFF0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linksContainer{
  display: flex;
  flex-direction: column;
  width: 300px;
}
.link-header{
  width: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}
.link-header h1{
  font-size: 16px;
}
#Ful{
  list-style: none;
}
#Ful li{
  cursor: pointer;
}
#Ful li:hover{
  color: gray;
}
#contact{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

}
#h1C{
  font-size: 14px;
}
#contact a{
  text-wrap: nowrap;
  font-size: 14px;
}
@media screen and (max-width:768px){
  .link-header{
    display: flex;
    width: 100%;
    font-size: 12px;
  }
  #footer{
    flex-direction: column;
    width: 100%;
  }
  .linksContainer{
    width: 100%;
    padding: 1rem;
    align-items: flex-start;
  }
  #Ful li{
    font-size: 10px;
  }
  #contact a{
    font-size: 10px;
  }
  .copy{
    font-size: 10px;
  }
}


