@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
   font-family: 'Inter', 'Roboto', sans-serif
}
.layOut {
  display: grid;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header" "main main" "footer footer";
  box-sizing: border-box;
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: #003366;
  justify-items: center;
  align-content: start;
  position: relative;
}

header {
  grid-area: header;

}


main {
  grid-area: main;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  background-repeat: repeat;
  -webkit-overflow-scrolling: touch; /* pour iOS */
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/********************* footer******************/
footer {
  grid-area: footer;
}
