table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  font-size: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  font-weight: 600;
  color: #333;
}
.container{
  width: 100%;
  max-width: 100%;
  overflow: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.montant {
 display: flex;
 width: 90%;
 justify-content: space-evenly;
 align-items: center;
 
}

.info-contact {
  margin-top: 3rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.info-contact h1 {
  font-size: 1rem;
  margin: 0.5rem 0;
  font-weight: bold;
}
.info-contact span{
    color: gray;
    font-size: 10px;
    text-decoration: underline;
}

.btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
  gap: 1rem;
}

.btns button {
  flex: 1;
  padding: 1rem;
  font-size: 14px;
  font-weight: bold;
  background-color: green;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.5s ease;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  width: 50%;
  overflow: hidden;
}

.btns button:hover {
  background-color: black;
  color: green;
}

/* Responsive */
@media (max-width: 768px) {
  table, .btns {
    font-size:10px;
  }

  .btns {
    flex-direction: column;
  }
  .btns button{
    width: 100%;
  }
  .montant h1{
    font-size: 16px !important;
  }
}
