*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.PPageContainer{
  width: 80%;
  display: grid;
  overflow: hidden;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-content: start;
  grid-template-areas: "categories categorie" "categories categorie";
  
}
.categories {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 20px;
  width: 300px;
  padding: 0.2rem;
  grid-area: categories;
 
}
.catEtBi{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}
.catEtBi h1{
  font-size: .95rem !important;
  font-weight: bold !important;
}
#biF{
  font-size: 1.1rem !important;
  cursor: pointer;
}
#h1Warning{
  color: gray;
  font-size: .95rem;
}
.buttons{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
#btnFiltre{
  background-color: green;
  width: 50%;
  height: fit-content;
  padding: .2rem;
  border-radius: 20px;
  color: black;
  font-weight: bold;
}
#btnFiltre:hover{
  background-color: black;
  color: green;
}
#btnRes{
  background-color: gainsboro;
  width: 50%;
  height: fit-content;
  padding: .2rem;
  border-radius: 20px;
  color: black;
  font-weight: bold;
  border: none;
}
#btnRes:hover{
   background-color: black;
  color: gainsboro;
}

.cacherFiltre{
  display: none;
}
.divFiltre{
   transition: width 0.8s ease, height 0.8s ease;
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-content: center;
   align-items: center;
   row-gap: .5rem;
}
.filtre{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: .2rem;
  width: 100%;
}
label{
  font-size: .95rem;
}
.filtre input{
  color: gray;
  font-size: .8rem;
  width: 100%;
  height: fit-content;
  padding: .2rem;
}


button.selectionné {
  border-bottom: 4px solid rgb(230, 213, 213);
}
.categorie {
  grid-area: categorie;
  overflow: auto;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  width: 100%;
}
.categorie h1 {
  font-weight: bold;
}

.produits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 2rem;
  justify-items: center;
  align-content: start;
  width: 100%;
  box-sizing: border-box;
}
@media screen and (min-width: 769px) and (max-width: 1224px) {
  .PPageContainer{
    width: 100%;
  }
  .categories{
    justify-content: flex-start;
    margin-top: 10rem;
    width: 200px;
  }
  .categorie {
    width: 100%;
  }
  .produits {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .categories {
    width: 98%;
    overflow: auto;
    border-radius: 0 !important;
  }
  .categories button {
    font-size: 2vw;
    font-weight: bold;
  }

  .categorie {
    width: 98%;
  }
  .PPageContainer{
    grid-template-areas: "categories categories" "categorie categorie";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
  }
  .produits {
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
  }
  .catEtBi{
    justify-content: space-around;
  }
  .catEtBi h1{
    width: 80%;
    background-color: gainsboro;
    height: fit-content;
    padding: 1rem;
    border-radius: 20px;
    text-align: center;
  }
  .catEtBi i{
     background-color: gainsboro;
     height: fit-content;
     width: fit-content;
     padding: 1rem;
     border-radius: 55%;
  }
  .divFiltre{
    width: 80%;
  }
}
